@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Instrument+Serif:ital@0;1&family=Lilex:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@font-face {
  font-family:PlayFair ;
  src: url("../src/assets/fonts/PlayfairDisplay-SemiBold.ttf");
}
@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-instrument: "Instrument Serif", serif;
  --font-roboto: "Roboto Mono", monospace;
  --font-lilex : "Lilex" , serif;

}
